$T1: rgba(0, 136, 187, 1);
$T2: rgba(196, 67, 99, 1);
$T3: rgba(196, 138, 67, 1);
$T4: rgba(34, 85, 102, 1);
$T5: rgba(119, 136, 153, 1);
$T6: rgba(245, 248, 250, 1);
$T7: rgba(255, 255, 255, 0.8);
$T8: rgba(27, 168, 39, 1);
$T9: rgb(86, 76, 224);
$BG: rgba(245, 248, 250, 1);
$FFF: rgba(255, 255, 255, 1);
$BG3: rgba(0, 136, 187, 0.08);


$BR: rgba(245, 246, 250, 1);
$BR1: rgba(30, 20, 168, 0.06);


$BG1: rgba(42, 51, 85, 1);
$BG2: rgba(255, 255, 255, 1);
