.h5_icon{
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: inline-block;
}

.icon_logo{
  width: 35px;
  height: 40px;
  background-image: url("../img/icon/logo.png");
}
